@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../../../../fonts/iranyekanwebbold(fanum).eot');
	src: url('../../../../fonts/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../../../../fonts/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../../../../fonts/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../../../../fonts/iranyekanweblight(fanum).eot');
	src: url('../../../../fonts/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../../../../fonts/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../../../../fonts/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../../../../fonts/iranyekanwebregular(fanum).eot');
	src: url('../../../../fonts/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../../../../fonts/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../../../../fonts/iranyekanwebregular(fanum).ttf') format('truetype');
}
body{
	font-family: iranyekan;
}
.text-ultralight {
	font-weight: 200;
}
.text-light {
	font-weight: 300;
}
.text-regular {
	font-weight: normal;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: bold;
}
td, th{text-align: center !important;}
.card .content{overflow: auto !important;}